.slick-list {

    color: #fff;

}

.icons {
    vertical-align: text-bottom;
}

.slick-initialized .slick-slide {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.icons svg {
    height: 22px;
    width: 22px;
}

.slick-list .slick-slide {
    font-size: 12px;
    text-align: center;
    padding: 1rem 20px;
    line-height: 2;
    font-weight: 700;
}

.slick-list .slick-slide:nth-child(even) {
    background-color: #252f3d;
}

.slick-list .slick-slide:nth-child(odd) {
    background-color: #252f3d;
}

.slick-arrow {
    z-index: 1;
    width: 40px;
    height: 40px;
}

.slick-arrow:before {
    font-size: 30px;

}

.slick-prev.slick-arrow:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='feArrowLeft0' fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'%3E%3Cg id='feArrowLeft1' fill='white'%3E%3Cpath id='feArrowLeft2' d='m15 4l2 2l-6 6l6 6l-2 2l-8-8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.slick-next.slick-arrow:before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg id='feArrowRight0' fill='none' fill-rule='evenodd' stroke='none' stroke-width='1'%3E%3Cg id='feArrowRight1' fill='white'%3E%3Cpath id='feArrowRight2' d='m9.005 4l8 8l-8 8L7 18l6.005-6L7 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.slick-next {
    right: 0 !important;
}

.slick-prev {
    left: 0 !important;
}

.icons {
    vertical-align: text-bottom;
}

.icons svg {
    height: 22px;
    width: 22px;
    margin-right: 0.5rem;
}