:root {
    --gray1: #252F3D;
    --gray2: #4D5254;
    --gray3: #969696;
    --gray4: #cfcfcf;
    --white1: #fff;
    --white2: #FAFAFA;
    --white3: #EDF3FD;
    --green1: #85BF55;
    --green2: #59AE43;
    --green3: #5BB59A;
    --blue1: #2C7EF8;
}

body {
    font-family: "Manrope" !important;
}

/*top header*/
.bg-dark {
    background-color: var(--gray1) !important;
}

.nav-link {
    color: var(--white1);
}

.nav-item {
    margin: 0rem !important;
}

.icons {
    vertical-align: text-bottom;
}

.icons svg {
    height: 22px;
    width: 22px;
}

/*logos bar*/

.logosbox {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

figure {
    margin-bottom: 0;
}

.imglogo {
    height: 36px;
}

/*heading*/
.heading {
    text-align: center;
}

.heading h1 {
    font-size: 48px;
}

.heading h3 {
    text-transform: capitalize;
    font-size: 24px;
    color: var(--gray2);
}


/*steps*/

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.65rem 0;
}

.step1,
.step2,
.step3,
.step4 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 400;
}

.step3 {
    font-weight: 700;
}

.iconstep svg {
    height: 40px;
    width: 40px;

}

/*article*/
.box {

    border-radius: 10px;
    background-color: var(--white2);
    margin: 0 auto;
    padding: 26px;
}

.innerbox .card {
    border: none;
    background-color: var(--white1);
}

.innerbox .card-header {
    border: none;
    background-color: var(--white1);
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
}

.innerbox .card-header .meta p svg {
    height: 16px;
    width: 16px;
}

.innerbox .card-header .meta p span {
    color: var(--green3);
}

.innerbox .card-body {
    padding: 0 1rem;
}

.innerbox .card-body p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.innerbox h4 {
    line-height: 44.8px;
    font-size: 32px;
    font-weight: 600;

}

.innerbox h4 span {
    color: var(--blue1);
}

.description {
    padding: 0 1rem;
}

.card-body h5 {
    font-size: 20px;
}

.thumnail {
    height: 134px;
    width: 134px;
}

.price span:nth-child(1) {
    font-size: 16px;
    line-height: 21.86px;
    font-weight: 600;
    color: var(--gray3);
    margin-right: 0.6rem;
    text-decoration: line-through;
}

.price span:nth-child(2) {
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 600;
    color: var(--blue1);
}

.lista {
    padding-left: 0rem;
    margin-bottom: 2rem;
}

.lista li {
    font-size: 16px;
    line-height: 25.6px;
    font-weight: 400;
    margin: 1rem 0;
    list-style: none;
}

.lista li::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%232c7ef8' fill-rule='evenodd' d='M16.707 5.293a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414 0l-4-4a1 1 0 0 1 1.414-1.414L8 12.586l7.293-7.293a1 1 0 0 1 1.414 0Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    margin-right: 0.85rem;
    width: 22px;
    height: 22px;
}

.lista li span {
    font-weight: bold;
    color: var(--gray2);
}

.offer {
    background-color: var(--white3);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.circle {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background-color: var(--blue1);
    padding: 0px;
    margin-right: 1rem;
}

.circle img {
    padding: 7px;
}

.offer p {
    margin-bottom: 0;
    line-height: 22.4px;
}

.offer p span {
    color: var(--blue1);
}

.btn-success {
    text-transform: uppercase;
    border-radius: 50px;
    background-color: var(--green2);
    border: none;
    width: 100%;
    margin: 2rem 0rem 1rem 0rem;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: 700;
    line-height: 27.32px;
}

.description .card-header.visa {
    display: flex;
    background-color: transparent;
    border: 1px solid var(--gray4);
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 0.7rem;
}

.description .card-header.visa p {
    font-size: 12px;
    margin-bottom: 0;
}

.linkred:hover {
    color: black;
}

.linkred {
    text-transform: uppercase;
    color: red;
    font-size: 18px;
    font-weight: 500;
    line-height: 24.59px;
    margin: 1.1rem;
    display: grid;
    justify-content: center;
}

.guarantee {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guarantee figure img {
    height: 88px;
    width: 88px;
}

.guarantee p {
    line-height: 22.4px;
    font-size: 16px;
    margin-bottom: 0;
    margin-right: 2rem;
}

.guarantee p span {
    font-weight: bold;

}

footer {
    background-color: var(--gray1);
    padding: 2rem 0;
    margin-top: 5rem;
}

footer .bt {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer .bt p {
    margin-bottom: 0;
}